﻿@{
    ViewBag.Title = "Fitness Center";
}

<!-- Title Section -->
<div class="container text-center my-5 ">
    <h1 class="display-4">Welcome to Fitness Center!</h1>
    <p class="lead">Discover the best gyms and classes near your location!</p>
    <hr class="my-4">
</div>

<!-- Welcome Section -->
<div class="bg-dark text-white text-center py-5 rounded-3 ">
    <div class="container">
        <h2 class="display-5 fw-bold">Your paradise of Gyms and Workout Plans</h2>
        <p class="mb-4">Find your favorite gyms, explore top workout classes, and keep track of what you love.</p>
        <a asp-controller="Gym" asp-action="Index" class="btn btn-outline-primary btn-lg mx-2"><i class="bi bi-binoculars-fill"></i> Explore Gyms</a>
        <a asp-controller="Class" asp-action="Index" class="btn btn-outline-primary btn-lg mx-2"><i class="bi bi-binoculars-fill"></i> Browse Classes</a>
    </div>
</div>

<div class="row pt-5">
    <div class="container text-center">
        <p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-facebook"></i>
                    <a href="#" class="text-white mx-1">Facebook</a>
                </button>
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-twitter-x"></i>
                    <a href="#" class="text-white mx-1">Twitter-X</a>
                    </button>
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-instagram"></i>
                    <a href="#" class="text-white mx-1">Instagram</a>
                    </button>
            </div>
        </p>
    </div>
</div>