@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fitness Center</h1>
    <p>Check the local Gyms and their Classes for your perfect workout!</p>
</div>
