﻿@using FitnessCenter.Web.ViewModels.Class
@model ClassDetailsViewModel

<h2>@Model.Title</h2>

<p><strong>Duration:</strong> @Model.Duration minutes</p>
<p><strong>Description:</strong> @Model.Description</p>
<p><strong>Starting date:</strong> On @Model.StartingDate</p>

<a asp-action="Index" class="btn btn-primary">Back to All Classes</a>